In [2]:
import random
import os 
import sys

Getting Started

In [3]:
print("Hello World")

name="Siddhant"
print(name)

Hello World
Siddhant

# Running mathematical opeartions

In [4]:
print("7+3 = ", 7+3)
print("7-3 = ", 7-3)
print("7*3 = ", 7*3)
print("7/3 = ", 7/3)
print("7**3 = ", 7**3)
print("7//3 = ", 7//3)
print("7%3 = ", 7%3)

7+3 =  10
7-3 =  4
7*3 =  21
7/3 =  2.3333333333333335
7**3 =  343
7//3 =  2
7%3 =  1

# Strings

In [7]:
quote  = " Hi. I'm using Python"
multiline_quote = ''' just
like everyone else" '''

new_string = quote + multiline_quote
#embedding string in output using %s
print("%s%s%s" %(' I like the quote', quote, multiline_quote))

print("I dont like ", end="")
print("newlines")

 I like the quote Hi. I'm using Python just
like everyone else"
I dont like newlines

# Lists

In [8]:
grocery_list=['Juice', 'Tomatoes', 'Potatoes', 'Beans']
print("First Item:", grocery_list[0])

grocery_list[0] = 'Green Apple' #changing the value stored in a list
print('First Item:', grocery_list[0])

print(grocery_list[1:3])

First Item: Juice
First Item: Green Apple
['Tomatoes', 'Potatoes']

In [9]:
other_events = ['Wash Car', 'Do Homework', 'Bank Of America']

to_do_list = [other_events, grocery_list]

print(to_do_list)

print(to_do_list[1][1])

grocery_list.append('Onions')
print(grocery_list)
grocery_list.insert(1, 'Pickle')
print(grocery_list)
grocery_list.sort()
print(grocery_list)
grocery_list.remove('Pickle')
print(grocery_list)
del grocery_list[4]
print(to_do_list)

to_do_list2= other_events + grocery_list
print(len(to_do_list2))

print(max(to_do_list2))
print(min(to_do_list2))

[['Wash Car', 'Do Homework', 'Bank Of America'], ['Green Apple', 'Tomatoes', 'Potatoes', 'Beans']]
Tomatoes
['Green Apple', 'Tomatoes', 'Potatoes', 'Beans', 'Onions']
['Green Apple', 'Pickle', 'Tomatoes', 'Potatoes', 'Beans', 'Onions']
['Beans', 'Green Apple', 'Onions', 'Pickle', 'Potatoes', 'Tomatoes']
['Beans', 'Green Apple', 'Onions', 'Potatoes', 'Tomatoes']
[['Wash Car', 'Do Homework', 'Bank Of America'], ['Beans', 'Green Apple', 'Onions', 'Potatoes']]
7
Wash Car
Bank Of America

# Tuple

In [10]:
#we can't change values like in lists
pi_tuple = (3,1,4,1,5,9)

new_tuple = list(pi_tuple)
new_list  = tuple(new_tuple)

print(new_tuple)
print(new_list)

[3, 1, 4, 1, 5, 9]
(3, 1, 4, 1, 5, 9)

# Dictionaries

In [11]:
super_villains = {'Dr. Oct':'Spiderman', 'Joker':'Batman',
                  'Mandarin':'Iron Man',
                  'Thanos':'Super Man'}

print(super_villains['Dr. Oct'])

del super_villains['Thanos'] #delete an entry

super_villains['Robin'] = 'Iron Heart' #Replace a value
print(super_villains)

print(len(super_villains)) # Print the number of items in the dictionary

print(super_villains.get("Mandarin")) # Get the value for the passed key
print(super_villains.keys()) # Get a list of dictionary keys
print(super_villains.values()) # Get a list of dictionary values

Spiderman
{'Dr. Oct': 'Spiderman', 'Joker': 'Batman', 'Mandarin': 'Iron Man', 'Robin': 'Iron Heart'}
4
Iron Man
dict_keys(['Dr. Oct', 'Joker', 'Mandarin', 'Robin'])
dict_values(['Spiderman', 'Batman', 'Iron Man', 'Iron Heart'])

# Conditionals

In [12]:
#####IF ELSE, ELIF####
age=21

if age>16:
    print('You are old enough to drive')
else:
    print('You are not old enough')
    
if age>=21:
    print('U are old enough to drive a tractor')
elif age>=16:
    print('You are old enough to drive')
else:
    print("You are not old enough to drive")

#Logical Operators
if((age>=1) and (age<=18)):
    print("You get a birthday")
elif(age==21) or (age>=65):
    print("U get a Birthday")
elif not(age==30):
    print('You dont get a birthday')
else:
    print("You get a birthday party yeah")

You are old enough to drive
U are old enough to drive a tractor
U get a Birthday

In [13]:
# FOR LOOP#####
for x in range(0, 10):
    print(x, ' ', end="")
    
print('\n')
#Loops to cycle through the list
grocery_list=['Juice', 'Tomatoes', 'Potatoes', 'Beans']

for y in grocery_list:
    print(y)
    
for x in [2,4,6,8, 10] :
    print(x)   
    
num_list = [[1,2,3],[10,20,30], [100,200,300]]
#Indended Loops
for x in range(0,3):
    for y in range(0,3):
        print(num_list[x][y])

0  1  2  3  4  5  6  7  8  9

Juice
Tomatoes
Potatoes
Beans
2
4
6
8
10
1
2
3
10
20
30
100
200
300

In [14]:
####WHILE LOOP####
random_num =  random.randrange(0,100)

while(random_num !=15):
    print(random_num)
    random_num =random.randrange(0,100)
    
i = 0;

while(i<=20):
    if(i%2==0):
        print(i)
    elif(i==9):
        break    #Forceful end all together
    else:
        i+=1
        continue #Skips to the new iteration of loop
    i+=1

71
80
26
7
51
35
58
18
0
30
18
98
7
38
86
93
98
94
94
86
37
57
68
72
70
60
61
22
84
81
30
20
97
23
79
67
21
77
58
34
45
44
25
66
8
62
71
1
36
86
0
2
4
6
8

# Functions

In [ ]:
sumNum = 0;
def addNumber(fNum, lNum):
    sumNum = fNum+lNum
    return sumNum
print(sumNum(1, 4))

In [27]:
print('What is your name')
#name= sys.stdin.readline()
name= input("Hello ")
print(name)
long_string = "I'll catch you if you fall-The Floor"
print(long_string[0:4]) # Retrieve the first 4 characters

print(long_string[-5:]) # Get the last 5 characters
print(long_string[:-5]) # Everything up to the last 5 characters
print(long_string[:4] +" be there")  # Concatenate part of a string to another

# String formatting
print("%c is my %s letter and my number %d number is %.5f"%
('X' , 'favorite,', 1, .14) )

print(long_string.capitalize()) # Capitalizes the first letter
print(long_string.find("Floor"))

print(long_string.isalpha()) # Returns true if all characters are letters ' isn't a letter
print(long_string.isalnum()) # Returns true if all characters are numbers
print(long_string.replace("Floor", "Ground"))

What is your name
Hello Siddhant
Siddhant
I'll
Floor
I'll catch you if you fall-The
I'll be there
X is my favorite, letter and my number 1 number is 0.14000
I'll catch you if you fall-the floor
31
False
False
I'll catch you if you fall-The Ground

# File I/O

In [ ]:
# Overwrite or create a file for writing
test_file = open("test.txt", "wb")

print(test_file.mode)

print(test_file.name)
# Write text to a file with a newline
test_file.write(bytes("Write me to the file\n", "UTF-8"))

test_file.close()

# Opens a file for reading and writing
test_file = open('test.txt',"r+")
text_in_file = test_file.read() # Read text from the file

print(text_in_file)

# Delete the file
os.remove("test.txt")

# Classes and Objects

In [25]:
class Animal:
  #__ means the variable is private
    __name=""
    __height = 0
    __weight = 0
    __sound = 0
    
    def __init__(self, name, height, weight, sound):
        self.__name = name
        self.__height = height
        self.__weight = weight
        self.__sound = sound
        
    def set_name(self, name):
        self.__name = name
    
    def get_name(self):
        return self.__name
    
    def set_height(self, height):
        self.__height = height
    
    def get_height(self):
        return self.__height
    
    def set_weight(self, weight):
        self.__weight = weight
    
    def get_weight(self):
        return self.__weight
    
    def set_sound(self, sound):
        self.__sound = sound
    
    def get_sound(self):
        return self.__sound
    
    def get_type(self):
        print("Animal")
        
    def toString(self):
      return "{} is {} cm tall and {} kilograms and says {}".format(self.__name, self.__height, self.__weight, self.__sound)
  
cat = Animal("Whiskers", 33, 10, 'Meow') #Object of Class Animal

print(cat.toString()) 


####INHERITANCE####
class Dog(Animal):
    __owner = None

    def __init__(self, name, height, weight, sound, owner):
        self.__owner = owner
        self.__animal_type = None

       #super class constructor
        super(Dog, self).__init__(name, height, weight, sound)

    def set_owner(self, owner):
        self.__owner = owner

    def get_owner(self):
        return self.__owner

    def get_type(self):
        print ("Dog")

    #overwriting the function in super class
    def toString(self):
        return "{} is {} cm tall and {} kilograms and says {}. His owner is {}".format(self.get_name(), self.get_height(), self.get_weight(), self.get_sound(), self.__owner)

    
    def multiple_sounds(self, how_many=None):
        if how_many is None:
            print(self.get_sound)
        else:
            print(self.get_sound() * how_many)

spot = Dog("Spot", 53, 27, "Ruff", "Siddhant")

print(spot.toString())


####POLYMORPHISM####
class AnimalTesting:
    def get_type(self, animal):
        animal.get_type()

test_animals = AnimalTesting()

test_animals.get_type(cat)
test_animals.get_type(spot)

spot.multiple_sounds(4)

Whiskers is 33 cm tall and 10 kilograms and says Meow
Spot is 53 cm tall and 27 kilograms and says Ruff. His owner is Siddhant
Animal
Dog
RuffRuffRuffRuff